<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name="penakelex.textRPG.homeland.TopPanel.Menu.MenuActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TextRPG" />
        <activity
            android:name="penakelex.textRPG.homeland.TopPanel.Quests.QuestsActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TextRPG" />
        <activity
            android:name="penakelex.textRPG.homeland.TopPanel.Person.PersonActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TextRPG" />
        <activity
            android:name="penakelex.textRPG.homeland.Map.ActivityLocalMap"
            android:exported="false" />
        <activity
            android:name="penakelex.textRPG.homeland.AllStarting.GameStartingActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TextRPG">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="penakelex.textRPG.homeland.CreatingCharacterForm.CreatingCharacter"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TextRPG" />
        <activity
            android:name="penakelex.textRPG.homeland.Dialogs.DialogActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TextRPG" />
        <activity
            android:name="penakelex.textRPG.homeland.Map.Map"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TextRPG">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="penakelex.textRPG.homeland.Activities.Credits"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TextRPG">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="penakelex.textRPG.homeland.AllStarting.GameLoad"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_game_load"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TextRPG">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="penakelex.textRPG.homeland.AllStarting.MainMenu"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TextRPG">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>